.header {
	background: white;
	
	.header-home {
		color: #666;
		display: inline-block;
		font-size: 1.6em;
		vertical-align: bottom;
		margin-top: 0.2em;
		margin-left: 0.8em;
		
		&:hover, &:focus {
			color: #449FDB;
			text-decoration: none;
		}
	}
	.header-tag {
		.navigation-link {
			color: #666;
			display: inline-block;
			
			.title {
				display: inline-block;
				padding: 0.5em;
			}
			
			.indicator {
				display: block;
				height: 0.3em;
				background-color: #449FDB;
				opacity: 0;		
			}
			
			&.active, &:hover, &:focus {
				.indicator {
					opacity: 1;
					transition-duration: 0.15s;
					transition-timing-function: ease-in;
				}			
			}
			
			&:hover {
				text-decoration: none;
			}
		}

		.logout {
			color: #666;
			font-size: 1.6em;
			margin: 0 0.3em 0 2em;
			display: inline-block;
			vertical-align: bottom;
			
			&:hover, &:focus {
				color: #449FDB;
				text-decoration: none;
			}
		}

	}
	

}