.order-list {
	.order-new {
		display: inline-block;
		vertical-align: top;


		
		.order-new-button {
			background: white;
			margin: 0 1em 1em 0;
			padding: 1em;
			width: 20em;
			height: 20em;
			cursor: pointer;
			text-align: center;
			display: table;
			
			.add-icon {
				display: table-cell;
				vertical-align: middle;
				font-size: 10em;
				color: #999;
			}
		}
	}
	

}