body {
	background-color: #e5e5e5;
}

.shadow-border {
	border-width: 1px 1px 2px;
	border-style: solid;
	border-color: #D8D8D8;
}

.form-action-buttons {
	margin-top: 0.5em;
	text-align: right;
}

.button {
	border: 1px solid #E4E4E4;
	background: none repeat scroll 0% 0% #FFF;
	padding: 0.3em 0.5em;
	
	&.button-action {
		background-color: #2BD672;
		color: #FFF;
		
		&[disabled] {
			background-color: #ccc;
		}	
	}
}

.text-action {
	cursor: pointer;
	text-decoration: underline;
}

.typeahead {
	position: relative;
	display: block;
	z-index: 100;
	
	ul.typeahead-items {
		position: absolute;
		top: 0;
		left: 0;
		list-style: none;
		background: white;
		width: 100%;
		font-size: 0.7em;
		padding: 0;
		border: 1px solid #E4E4E4;
		border-top: none;
		
		li.typeahead-item {
			padding: 0.3em 0.75em;
			
			&.active {
				background: #D8D8D8;
			}
		}
	}
}

.article-buttons {
	margin-top: 1em;
}

/* Header */
.header-station {
	margin-bottom: 1em;
}

/* General */
.search-field {
	position: relative;
	padding: 0.3em;
	padding-left: 2em;
	border: 1px solid #E4E4E4;
	color: #404040;
	
	.icon-search {
		position: absolute;
		left: 0.2em;
		top: 0.3em;
		font-size: 1.3em;
	}
	input {
		width: 100%;
		border: none;
	}
}

.tags {
	border: 1px solid #E4E4E4;
	color: #404040;
	background: white;
	width: 100%;
	
	.tag-list {
		padding: 0.3em;
		.tag {
			display: inline-block;
			background: #D8D8D8;
			padding: 0 0.4em;
			border-radius: 0.3em;
			margin-right: 0.3em;	
		
			.icon-close {
				font-size: 0.7em;
				cursor: pointer; 
			}	
		}
		
		.add-tag-link {
			color: #999;
			cursor: pointer;
		}	
	}
	
	.dropdown-anchor {
		position: relative;
		width: 100%;
		.dropdown {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 0.3em;
			background: white;
			border: 1px solid #E4E4E4;
			z-index: 100;
			
			.tag-row {
				padding: 0.3em;
				
				&:hover {
					background-color: #F5F5F5;
				}
			}
			
			.add-tag { 
				margin-top: 0.3em;
				input {
					border: 1px solid #E4E4E4;
					color: #404040;
					padding: 0.3em;
				}
				.icon-checkmark.active {
					cursor: pointer;
					color: #2BD672;
				}
			}
		}
	}
}

.input-border {
    border: 1px solid #E4E4E4;
    color: #404040;
    padding: 0.3em;
}

.input-numeric {
	width: 3em;
}
input.ng-invalid.ng-dirty {
	border: 1px solid red !important; 
}

@import 'header';
@import 'orders';
@import 'kitchen';
@import 'settings';
@import 'dashboard';
@import 'startpage';
@import 'articles';
@import 'login';
@import 'history';
@import 'directives/dropdown';
@import 'directives/article-list-item';
@import 'directives/order-article-list-item';
@import 'directives/pills-filter';
@import 'directives/article-filter';
@import 'directives/article-config';
@import 'directives/kitchen-article-list-item';
@import 'directives/order-form';
@import 'directives/order-form-payment';
@import 'directives/article-form';
@import 'directives/add-option-form';
@import 'directives/tax-group-selector';
@import 'directives/tax-group-form';
@import 'directives/order-list-item';
@import 'directives/order-new';
@import 'directives/event-list';
@import 'directives/history-picker';
