body {
	background-color: #e5e5e5;
}

.shadow-border {
	border-width: 1px 1px 2px;
	border-style: solid;
	border-color: #D8D8D8;
}

.form-action-buttons {
	margin-top: 0.5em;
	text-align: right;
	
	button {
		border: 1px solid #E4E4E4;
		background: white;
		padding: 0.3em 0.5em;
		
		&.save-button {
			background-color: #2BD672;
			color: white;
		}
	}
}

.button {
	border: 1px solid #E4E4E4;
	background: none repeat scroll 0% 0% #FFF;
	padding: 0.3em 0.5em;
	
	&.button-action {
		background-color: #2BD672;
		color: #FFF;	
	}
}

.text-action {
	cursor: pointer;
	text-decoration: underline;
}

.typeahead {
	position: relative;
	display: block;
	z-index: 100;
	
	ul.typeahead-items {
		position: absolute;
		top: 0;
		left: 0;
		list-style: none;
		background: white;
		width: 100%;
		font-size: 0.7em;
		padding: 0;
		border: 1px solid #E4E4E4;
		border-top: none;
		
		li.typeahead-item {
			padding: 0.3em 0.75em;
			
			&.active {
				background: #D8D8D8;
			}
		}
	}
}

.dish-buttons {
	margin-top: 1em;
}

/* Header */
.header-station {
	margin-bottom: 1em;
}

/* Menu Editor */
.menu-section {
	background: white;
	border-width: 1px 1px 2px;
	border-style: solid;
	border-color: #D8D8D8;
	margin-bottom: 1em;

	&.header-section, &.new-dish-section {
		padding: 1em;
	} 
	&.new-dish-section {
		background-color: #F5F5F5;
	}
}


.add-dish {
	cursor: pointer;
	display: block;
	margin-bottom: 0.5em;
	.icon-plus {
		font-size: 0.7em;
	}
}

.dish-list {
	
	.menu-dish {
		margin: 0 1em;
	}
	.edit-dish {
		padding: 1em;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	}
}

.menu-dish {
	border-bottom: 0.2em solid #D8D8D8;
	padding: 0.3em;
	
	.title {
		font-size: 1.5em;
		margin-bottom: 0.3em;
		
		.dish-name, .dish-price, .dish-actions {
			display: inline-block;
			padding: 0;
			margin: 0;
			float: left;
		}
		.dish-name {
			width: 70%;
		}
		.dish-price {
			width: 20%;
			text-align: right;
		}
		.dish-actions {
			width: 10%;
			
			.icon-pencil, .icon-remove {
				cursor: pointer;
			}
		}
	}
	
	.restricted-details {
		.restricted-to-label {
			font-style: italic;
		}
		.restricted-menu {
			display: inline-block;
			background: #D8D8D8;
			padding: 0 0.4em;
			border-radius: 0.3em;
			margin-right: 0.3em;
		}
	}
}

.edit-dish {
	background-color: #F5F5F5;
	margin: 1em 0;
}



/* General */
.search-field {
	position: relative;
	padding: 0.3em;
	padding-left: 2em;
	border: 1px solid #E4E4E4;
	color: #404040;
	
	.icon-search {
		position: absolute;
		left: 0.2em;
		top: 0.3em;
		font-size: 1.3em;
	}
	input {
		width: 100%;
		border: none;
	}
}

.tags {
	border: 1px solid #E4E4E4;
	color: #404040;
	background: white;
	width: 100%;
	
	.tag-list {
		padding: 0.3em;
		.tag {
			display: inline-block;
			background: #D8D8D8;
			padding: 0 0.4em;
			border-radius: 0.3em;
			margin-right: 0.3em;	
		
			.icon-close {
				font-size: 0.7em;
				cursor: pointer; 
			}	
		}
		
		.add-tag-link {
			color: #999;
			cursor: pointer;
		}	
	}
	
	.dropdown-anchor {
		position: relative;
		width: 100%;
		.dropdown {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 0.3em;
			background: white;
			border: 1px solid #E4E4E4;
			z-index: 100;
			
			.tag-row {
				padding: 0.3em;
				
				&:hover {
					background-color: #F5F5F5;
				}
			}
			
			.add-tag { 
				margin-top: 0.3em;
				input {
					border: 1px solid #E4E4E4;
					color: #404040;
					padding: 0.3em;
				}
				.icon-checkmark.active {
					cursor: pointer;
					color: #2BD672;
				}
			}
		}
	}
}

.input-border {
    border: 1px solid #E4E4E4;
    color: #404040;
    padding: 0.3em;
}

.input-numeric {
	width: 3em;
}

@import 'orders';
@import 'kitchen';
@import 'settings';
@import 'dashboard';
@import 'directives/dropdown';
@import 'directives/dish-list-item';
@import 'directives/order-dish-list-item';
@import 'directives/pills-filter';
@import 'directives/dish-filter';
@import 'directives/dish-config';
@import 'directives/kitchen-dish-list-item';
@import 'directives/order-form';
@import 'directives/dish-form';
