<div class="add-option-form" typeahead on-select="onTypeaheadSelect(item)" items="filteredOptions">
	<ng-form name="addOption">
		<input class="input-border name" typeahead-control type="text" ng-model="option.name" 
			ng-change="filterOptions(typeaheadItems, option.name)"
			ng-focus="filterOptions(typeaheadItems, option.name)" placeholder="Name" required>
		<span class="money-sign">$</span>
		<input class="input-border input-numeric price-change" type="text" ng-model="option.priceChange" pattern="^-?\d+\.?\d*$">
		<span class="controls">
			<button class="icon-checkmark ok" ng-click="save(option)" ng-disabled="addOption.$invalid"></button>
			<span class="icon-cancel-circle" ng-click="cancel()"></span>
		</span>
	</ng-form>
	<div class="typeahead" ng-show="isVisible()">
		<ul class="typeahead-items">
			<li typeahead-item="option" class="typeahead-item" ng-repeat="option in filteredOptions">
				{{option.name}}<span ng-show="option.priceChange > 0"> (+ ${{option.priceChange}})</span>
			</li>
		</ul>
	</div>
</div>