<form class="article-form" name="articleForm" novalidate>
	<div class="article-name">			
		<input type="text" ng-model="article.name" name="articleName" placeholder="Article name" required>
	</div>
	<div class="article-price">$ <input type="text" ng-model="article.price" name="articlePrice" required pattern="^-?\d*\.?\d*$"></div>
	<label class="article-kitchen"><input type="checkbox" ng-model="article.kitchen" /><span>Kitchen</span></label>
	<div class="article-tax-group">
		<tax-group-selector tax-groups="taxGroups" selected-tax-group="article.taxGroup" on-update="onTaxGroupUpdate(taxGroup)" left-align="true"></tax-group-selector>
	</div>
	<div class="clearfix"></div>
	<tags class="tag-tags" available-tags="tags" selected-tags="article.tags" tag-name="tag"></tags>
	
	<div ui-sortable ng-model="article.options">
		<div class="option-row" ng-repeat="articleOptions in article.options">
			<div class="option-ors">
				<span ng-repeat="option in articleOptions">
					<span class="option-title">
						{{option.name}} 
						<span ng-show="option.priceChange > 0">(+ ${{option.priceChange}})</span>
						<span class="icon-close" ng-click="removeOption($parent.$index, $index)"></span>					
					</span><span class="option-or" ng-hide="$last">or</span>
				</span>
			</div>			
			<div class="option-add-or">
				<span class="icon-plus" ng-click="expandRow($index)"></span>
				<add-option-form options="options" 
					on-save="orOptionToArticle(option, $index)" on-close="orOptionToArticleCancel()" 
					ng-if="$index === expandedRow"></add-option-form>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>

	<span class="add-option-action text-action" ng-hide="addingOption" ng-click="showAddOption()">+ Add option</span>
	<add-option-form options="options" 
		on-save="addOptionToArticle(option)" on-close="hideAddOption()" ng-if="addingOption"></add-option-form>

	<div class="form-action-buttons">
		<button class="button button-action"  ng-click="save(article)" ng-disabled="articleForm.articleName.$invalid || articleForm.articlePrice.$invalid">Save</button>
		<button class="button" ng-click="cancel()">Cancel</button>
	</div>		
</form>