<div class="article-config">
	<div class="article-header">
		<span class="article-name">{{article.name}}</span>
		<span class="article-price">${{article.price}}</span>
	</div>
	<ng-form name="articleForm">
		<ul class="article-options">
			<li class="article-option" ng-repeat="optionOrs in article.options">
				<span class="article-option-or" ng-repeat="option in optionOrs">
					<label><input type="checkbox" ng-model="selectedOptions[$parent.$index][$index]"/> 
					{{option.name}}<span ng-show="option.priceChange > 0">(+${{option.priceChange}})</span></label>
					<span class="or-junction" ng-hide="$last"> or </span>
				</span>
			</li>
		</ul>
		<div class="article-config-discount">
			Discount: <input type="text" class="input-border input-numeric" ng-model="discount" ng-blur="updateDiscount(discount)" pattern="^-?\d*\.?\d*$" /> %
		</div>
		<div class="form-action-buttons">
			<button class="button button-action" ng-click="save(article)" ng-disabled="articleForm.$invalid">Save</button>
			<button class="button" ng-click="cancel()">Cancel</button>
		</div>
	</ng-form>			
</div>