<div class="dish-config">
	<span class="dish-name">{{dish.name}}</span>
	<span class="dish-price">${{dish.price}}</span>
	<ul class="dish-ingredients">
		<li class="dish-ingredient" ng-repeat="ingredientOrs in dish.ingredients">
			<span class="dish-ingredient-or" ng-repeat="ingredient in ingredientOrs">
				<label><input type="checkbox" ng-model="selectedIngredients[$parent.$index][$index]"/> 
				{{ingredient.name}}<span ng-show="ingredient.priceChange > 0">(+${{ingredient.priceChange}})</span></label>
				<span class="or-junction" ng-hide="$last"> or </span>
			</span>
		</li>
	</ul>
</div>