<form class="dish-form" name="dishForm" novalidate>			
	<div class="dish-name">			
		<input type="text" ng-model="dish.name" name="dishName" placeholder="Dish name" required>
	</div>
	<div class="dish-price">$ <input type="text" ng-model="dish.price" name="dishPrice" required pattern="^-?\d*\.?\d*$"></div>
	<tags class="menu-tags" available-tags="menus" selected-tags="dish.menus" tag-name="menu"></tags>
	
	<div ui-sortable ng-model="dish.ingredients">
		<div class="ingredient-row" ng-repeat="dishIngredients in dish.ingredients">
			<div class="ingredient-ors">
				<span ng-repeat="ingredient in dishIngredients">
					<span class="ingredient-title">
						{{ingredient.name}} 
						<span ng-show="ingredient.priceChange > 0">(+ ${{ingredient.priceChange}})</span>
						<span class="icon-close" ng-click="removeIngredient($parent.$index, $index)"></span>					
					</span><span class="ingredient-or" ng-hide="$last">or</span>
				</span>
			</div>			
			<div class="ingredient-add-or">
				<span class="icon-plus" ng-click="expandRow($index)"></span>
				<add-ingredient-form ingredients="ingredients" 
					on-save="orIngredientToDish(ingredient, $index)" on-close="orIngredientToDishCancel()" 
					ng-if="$index === expandedRow"></add-ingredient-form>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>

	<span class="add-ingredient-action text-action" ng-hide="addingIngredient" ng-click="showAddIngredient()">+ Add ingredient</span>
	<add-ingredient-form ingredients="ingredients" 
		on-save="addIngredientToDish(ingredient)" on-close="hideAddIngredient()" ng-if="addingIngredient"></add-ingredient-form>

	<div class="form-action-buttons">
		<button class="button button-action"  ng-click="save(dish)" ng-disabled="dishForm.dishName.$invalid || dishForm.dishPrice.$invalid">Save</button>
		<button class="button" ng-click="cancel()">Cancel</button>
	</div>		
</form>