<div class="events-list">
	<div class="order-event" ng-repeat="orderEvent in orderEvents track by orderEvent.order.id.id">
		<div class="order-message">
			<div class="event-timestamp" am-time-ago="orderEvent.event.timestamp"></div>
			Order <span class="order-day-id">#{{orderEvent.order.dayId}}</span> is ready for <span class="order-waiter-name">{{orderEvent.order.waiter.name}}</span>
		</div>
		<div class="hide-button" ng-click="hideEvent(orderEvent.event)">
			Hide
		</div>
		<div style="clear: both;"></div>
	</div>
</div>