<div>
	<form class="order-form shadow-border" name="orderForm" ng-show="isEditView()" novalidate>
	
		<div class="waiter-block">
			<span class="print-payment-action text-action" ng-click="forcePayment()" 
				ng-show="order.dishes.length > 0">Print & Payment</span>
			<label class="form-label">Waiter:</label>
			<dropdown items="waiterList" selected-item="order.waiter" to-label="waiterToLabel(item)"></dropdown>
		</div>
	
		<label class="form-label">Dishes</label>
		<span class="add-new-dish text-action" ng-hide="addingNewDish" ng-click="showAddDish()">+Add dish</span>
		<div ng-show="addingNewDish">
			<div class="dish-selector shadow-border" ng-hide="orderFormDish">
				<span class="add-new-dish-close icon-close2" ng-click="hideAddDish()"></span>
				<div class="dish-filter">
					<dish-filter menus="menus" selected-menus="selectedMenus" search-term="searchTerm"></dish-filter>
				</div>
				<div class="selector-dish-list" ng-class="{expanded: dishListExpanded}">
					<div class="selector-dish" ng-repeat="dish in dishList" ng-click="configDish(dish)" ng-show="filterDish(dish)">
						<dish-list-item dish="dish"></dish-list-item>
					</div>
					<div class="list-expander" ng-click="toggleDishList()">
						<span ng-hide="dishListExpanded">Show all</span> <span ng-show="dishListExpanded">Collapse</span>
					</div>
				</div>
			</div>
			<div class="order-dish-config shadow-border" ng-show="orderFormDish">
				<dish-config dish="orderFormDish" on-save="addDishToOrder(dish)" on-cancel="cancelAddingDish()"></dish-config>
			</div>
		</div>
	
		<div class="dish-list shadow-border" ng-show="order.dishes.length > 0">
			<div class="order-dish" ng-repeat="dish in order.dishes">
				<order-dish-list-item ng-if="!isDishOrderBeingEdited($index)" dish="dish" ng-click="startEditingOrderDish($index)"></order-dish-list-item>
				<dish-config ng-if="isDishOrderBeingEdited($index)" dish="dish" on-save="saveEditedOrderDish(dish, $index)" on-cancel="cancelEditingOrderDish()"></dish-config>
			</div>
		</div>
	
		<label class="form-label">Note</label>
		<div class="order-note shadow-border">
			<textarea class="order-note-text" ng-model="order.note"></textarea>
		</div>
	
		<label class="form-label">Discount</label>
		<div class="order-discount">
			<input type="text" ng-model="discount" name="discount" ng-blur="updateDiscount(order, discount)" class="input-border input-numeric" pattern="^-?\d*\.?\d*$" /> %
		</div>
	
		<label class="form-label">Payment</label>
		<order-form-payment order="order"></order-form-payment>
	
		<div class="form-action-buttons">
			<button class="button button-action" ng-click="save(order)" ng-disabled="orderForm.discount.$invalid">Save</button>
			<button class="button" ng-click="cancel()">Cancel</button>
		</div>
	</form>
	
	<div class="order-form-payment-view shadow-border" ng-show="isPaymentView()">
		<div class="order-header">
			<div class="order-waiter">{{order.waiter.name}}</div>
			<div class="order-actions">
				<span class="order-actions-edit" ng-click="forceEdit()">Edit Order</span>
				<button class="button button-action" ng-click="print(order)">Print</button>
				<button class="button button-action" ng-click="paid(order)" ng-show="order.status != 'PAID'">Mark As Paid</button>
				<span ng-show="order.status == 'PAID'">PAID</span>
			</div>
			<div class="order-submitted" am-time-ago="order.submitted"></div>			
		</div>
		<div class="dish-list">
			<div class="order-dish" ng-repeat="dish in order.dishes track by $index">
				<order-dish-list-item dish="dish" show-selected="true"></order-dish-list-item>
			</div>
		</div>
		<order-form-payment order="order"></order-form-payment>
		<div class="order-note" ng-show="order.note">{{order.note}}</div>
	</div>
</div>