<div>
	<form class="order-form shadow-border" name="orderForm" ng-if="isEditView()" novalidate>
	
		<div class="waiter-block">
			<span class="print-payment-action text-action" ng-click="forcePayment()" 
				ng-show="order.articles.length > 0">Print & Payment</span>
			<label class="form-label">Waiter:</label>
			<dropdown items="waiterList" selected-item="order.waiter" to-label="waiterToLabel(item)"></dropdown>
		</div>
	
		<label class="form-label">Articles</label>
		<span class="add-new-article text-action" ng-hide="addingNewArticle" ng-click="showAddArticle()">+Add article</span>
		<div ng-show="addingNewArticle">
			<div class="article-selector shadow-border" ng-if="!orderFormArticle">
				<span class="add-new-article-close icon-close2" ng-click="hideAddArticle()"></span>
				<div class="article-filter">
					<article-filter tags="tags" selected-tags="selectedTags" search-term="searchTerm"></article-filter>
				</div>
				<div class="selector-article-list" ng-class="{expanded: articleListExpanded}">
					<div class="selector-article" ng-repeat="article in articleList" ng-click="configArticle(article)" ng-show="filterArticle(article)">
						<article-list-item article="article"></article-list-item>
					</div>
					<div class="list-expander" ng-click="toggleArticleList()">
						<span ng-hide="articleListExpanded">Show all</span> <span ng-show="articleListExpanded">Collapse</span>
					</div>
				</div>
			</div>
			<div class="order-article-config shadow-border" ng-if="orderFormArticle">
				<article-config article="orderFormArticle" on-save="addArticleToOrder(article)" on-cancel="cancelAddingArticle()"></article-config>
			</div>
		</div>
	
		<div class="article-list shadow-border" ng-if="order.articles.length > 0">
			<div class="order-article" ng-repeat="article in order.articles">
				<order-article-list-item ng-if="!isArticleOrderBeingEdited($index)" article="article" ng-click="startEditingOrderArticle($index)"></order-article-list-item>
				<article-config ng-if="isArticleOrderBeingEdited($index)" article="article" on-save="saveEditedOrderArticle(article, $index)" on-cancel="cancelEditingOrderArticle()"></article-config>
			</div>
		</div>
	
		<label class="form-label">Note</label>
		<div class="order-note shadow-border">
			<textarea class="order-note-text" ng-model="order.note"></textarea>
		</div>
	
		<label class="form-label">Discount</label>
		<div class="order-discount">
			<input type="text" ng-model="order.discount" name="discount" class="input-border input-numeric" pattern="^-?\d*\.?\d*$" /> %
		</div>
	
		<label class="form-label">Payment</label>
		<order-form-payment order="order"></order-form-payment>
	
		<div class="form-action-buttons">
			<button class="button button-action" ng-click="save(order)" ng-disabled="orderForm.discount.$invalid">Save</button>
			<button class="button" ng-click="cancel()">Cancel</button>
		</div>
	</form>
	
	<div class="order-form-payment-view shadow-border" ng-if="isPaymentView()">
		<div class="order-header">
			<div class="order-waiter">{{order.waiter.name}}</div>
			<div class="order-actions">
				<span class="order-actions-edit" ng-click="forceEdit()">Edit Order</span>
				<button class="button button-action" ng-click="print(order)">Print</button>
				<button class="button button-action" ng-click="paid(order)" ng-show="order.status != 'PAID'">Mark As Paid</button>
				<span ng-show="order.status == 'PAID'">PAID</span>
			</div>
			<div class="order-submitted" am-time-ago="order.submitted"></div>			
		</div>
		<div class="article-list">
			<div class="order-article" ng-repeat="article in order.articles track by $index">
				<order-article-list-item article="article" show-selected="true"></order-article-list-item>
			</div>
		</div>
		<order-form-payment order="order"></order-form-payment>
		<div class="order-note" ng-show="order.note">{{order.note}}</div>
		<div class="form-action-buttons">
			<button class="button" ng-click="cancel()">Close</button>
		</div>		
	</div>
</div>