<div class="order-article-list-item">
	<span class="article-name">{{article.name}}</span>
	<span class="article-price">${{calculatePrice(article)}}</span>
	<div style="clear: both;"></div>
	<span class="article-discount-label" ng-show="article.discount !== '0'">Discount: {{formatDiscount(article.discount)}} %</span>
	<span class="article-discount-value" ng-show="article.discount !== '0'">- ${{calculateDiscount(article)}}</span>
	<ul class="article-options">
		<li class="article-option" ng-repeat="option in article.selectedOptions track by $index">
			{{option.name}}<span ng-show="option.priceChange > 0"> (+${{option.priceChange}})</span><!-- 
				 --><span ng-hide="$last">, </span>	 
		</li>
	</ul>
	<span class="icon-checkmark article-status" ng-class="{'prepared': article.status == 'PREPARED'}"></span>
	<div style="clear: both"></div>
</div>