<div class="tax-group-selector">

	<div class="dropdown">
		<button class="dropdown-selection" ng-click="toggleDropdown()">{{selectedTaxGroup.name}} ({{selectedTaxGroup.tax}} %) <span class="caret"></span> <span class="sr-only"></span></button>

		<div class="dropdown-list">
			<ul class="dropdown-items" ng-class="{'left': leftAlign}" ng-if="dropdownOpened">
				<li ng-repeat="taxGroup in taxGroups" ng-click="selectTaxGroup(taxGroup)" class="dropdown-item">
					<span ng-if="$index != indexInEditing">
						<span >{{taxGroup.name}} ({{taxGroup.tax}} %)</span>
						<span class="icon-pencil edit" ng-click="startEditing($index); $event.stopPropagation();"></span>
					</span>
					<tax-group-form ng-if="$index == indexInEditing" tax-group="taxGroup" on-save="update(taxGroup, $index)"></tax-group-form>
				</li>
				<li class="dropdown-item">
					<tax-group-form tax-group="taxGroup" on-save="add(taxGroup)"></tax-group-form>		
				</li>
			</ul>
		</div>	
	</div>


</div>