.article-config {
	.article-header {
		margin-bottom: 1em;
		font-size: 1.5em;

		.article-price {
			float: right;
		}
	}
	.article-options {
		list-style: none;
		padding: 0;
		
		.article-option {
			.article-option-or {
				label {
					font-weight: normal;
					cursor: pointer;
				}
				.or-junction {
					font-style: italic;
					display: inline-block;
					margin: 0 1em;
				}
			}
		}
	}
}