.article-form {
	
	.article-name, .article-price {
		input {
			border: 1px solid #E4E4E4;
			color: #404040;
			padding: 0.3em;
		}	
	}

	.article-name, .article-price, .article-tax-group, .article-kitchen {
		float: left;
		display: inline-block;
	}
	.article-name {
		width: 40%;
		input {
			width: 100%;
		}
	}
	.article-price {
		width: 15%;
		text-align: right;
		input {
			width: 50%;
		}
	}
	
	.article-kitchen {
		width: 20%;
		padding: 0.3em;
		text-align: right;
		cursor: pointer;
		font-weight: normal;
		
		input[type="checkbox"] {
			display: inline-block;
			margin: 0 0.5em 0 0;
			vertical-align: middle;
		}
		
		span {
			vertical-align: middle;
		}
	}
	
	.article-tax-group {
		width: 25%;
		text-align: right;
	}
	
	.tag-tags {
		margin: 0.5em 0;
		width: 75%;
	}
	
	.option-row {
		border-bottom: 0.2em solid #D8D8D8;
		
		.option-ors {
			float: left;
			padding: 0.5em 0.3em;
			
			.option-title {
				.icon-close {
					font-size: 0.7em;
					cursor: pointer;
				}
			}
		}
	}
		
	.add-option-form {
		width: 50%;
	}	

	.option-add-or {
		position: relative;
		cursor: pointer;
		float: right;
		.icon-plus {
			display: inline-block;
			margin: 0.7em;
		}
		.add-option-form {
			position: absolute;
			top: 0.15em;
			right: 0;
			width: 1000%;
		}
	}

}