.dish-config {
	.dish-name {
		float: left;
	}
	.dish-price {
		float: right;
	}
	.dish-ingredients {
		clear: both;
		list-style: none;
		padding: 0;
		
		.dish-ingredient {
			.dish-ingredient-or {
				label {
					font-weight: normal;
					cursor: pointer;
				}
				.or-junction {
					font-style: italic;
					display: inline-block;
					margin: 0 1em;
				}
			}
		}
	}
}