.article-list-item {
	
	.article-name {
		float: left;
	}
	.article-price {
		float: right;
	}
	
	.article-options {
		clear: both;
		list-style: none;
		padding: 0;
		.article-option {
			display: inline;
			font-size: 0.8em;
			font-style: italic;
		}
	}
} 