.kitchen-article-list-item {
	.article-name {
		font-size: 1.5em;
	}
	.ok {
		float: right;
		font-size: 4em;
		cursor: pointer;
		
		&.prepared {
			color: #2BD672;
		}
	}
	.article-options {
		list-style: none;
		.article-option {
		}
	}
}