.order-article-list-item {
	
	.article-name {
		float: left;
	}
	.article-price {
		float: right;
	}
	
	.article-options {
		clear: both;
		list-style: none;
		padding: 0;
		float: left;
		.article-option {
			display: inline;
			font-size: 0.8em;
			font-style: italic;
		}
	}
	
	.article-discount-label {
		display: inline-block;
		margin-left: 2em;
		font-size: 0.9em;
	}
	
	.article-discount-value {
		float: right;
	}
	
	.article-status {
		float: right;
		opacity: 0;		

		&.prepared {
			color: #2BD672;
			opacity: 1;
		}
	}
} 