.order-dish-list-item {
	
	.dish-name {
		float: left;
	}
	.dish-price {
		float: right;
	}
	
	.dish-ingredients {
		clear: both;
		list-style: none;
		padding: 0;
		float: left;
		.dish-ingredient {
			display: inline;
			font-size: 0.8em;
			font-style: italic;
		}
	}
	
	.dish-discount-label {
		display: inline-block;
		margin-left: 2em;
		font-size: 0.9em;
	}
	
	.dish-discount-value {
		float: right;
	}
	
	.dish-status {
		float: right;
		opacity: 0;		

		&.prepared {
			color: #2BD672;
			opacity: 1;
		}
	}
} 