.order-form {
	background-color: #F5F5F5;
	padding: 1em;
	
	.waiter-block {
		.print-payment-action {
			float: right;			
		}
	}
	
	.status-block {
		margin-right: 3em;
	}
	
	.form-label {
		display: block;
		margin-top: 1em;
	}
	
	.add-new-dish {
		cursor: pointer;
	}
	
	.add-new-dish-close {
		cursor: pointer;
		float: right;
		&:hover {
			color: #E74C3C;
		}
	}
	
	.dish-selector {
		background: white;
		padding: 1em 1em 0 1em;
		
		.selector-dish-list {
			position: relative;
			max-height: 20em;
			overflow: hidden;
			padding-bottom: 1.5em;
			margin-top: 1em;
			
			.list-expander {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				cursor: pointer;
				text-align: center;
				background: white;
				height: 1.5em;
			}
			
			&.expanded {
				max-height: none;
			}
			
			.selector-dish {
				cursor: pointer;
			}
		}
	}
	
	.order-dish-config {
		padding: 1em;
		background: white;
	}
	
	.dish-list {
		margin-top: 1em;
		padding: 1em;
		background: white;
	}
	
	.order-note {
		padding: 1em;
		background: white;
		
		.order-note-text {
			border: 1px solid #E4E4E4;
			color: #404040;
			width: 100%;
		}
	}	
}

.order-form-payment {
	background-color: #F5F5F5;
	padding: 1em;
	
	.order-header {
		border-bottom: 1px solid;
		margin-bottom: 1em;
		
		.order-waiter {
			float: left;
		}
		.order-actions {
			float: right;
			
			.order-actions-edit {
				cursor: pointer;
				text-decoration: underline;
				padding-right: 2em;
			}
		}
		.order-submitted {
			clear: both;
			padding-top: 1em;
		}
	}
	
	.order-note {
		border-top: 1px solid;
		font-style: italic;
		padding-top: 1em;
	}	
}

.order-payment {
	margin: 1em 0;		
	
	.subtotal-label,
	.tax-label,
	.total-label {
		display: block;
		text-align: right;
		
		.payment-amount {
			display: inline-block;
			width: 7em;
		}
	}
	
	.total-label {
		font-size: 1.5em;
		.payment-amount {
			width: 4.67em; // 1/1.5 * 7em
		}
	}
}