@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?du2uvs');
	src:url('fonts/icomoon.eot?#iefixdu2uvs') format('embedded-opentype'),
		url('fonts/icomoon.woff?du2uvs') format('woff'),
		url('fonts/icomoon.ttf?du2uvs') format('truetype'),
		url('fonts/icomoon.svg?du2uvs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e604";
}
.icon-search:before {
	content: "\e606";
}
.icon-remove:before {
	content: "\e605";
}
.icon-cancel-circle:before {
	content: "\e602";
}
.icon-close:before {
	content: "\e600";
}
.icon-checkmark:before {
	content: "\e603";
}
.icon-plus:before {
	content: "\e601";
}
.icon-close2:before {
	content: "\e607";
}
