<div class="row articles">
	<div class="col-md-offset-3 col-md-6">
		<div class="articles-section header-section">
			<article-filter tags="tags" selected-tags="selectedTags" 
				tax-groups="taxGroups" selected-tax-groups="selectedTaxGroups"
				search-term="searchTerm"></article-filter>
		</div>	
		
		<span class="add-article" ng-hide="newArticle" ng-click="openNewArticleForm()">+ Add article ...</span>
		<div class="articles-section new-article-section" ng-if="newArticle">
			<article-form article="newArticle"
				options="options" tags="tags" tax-groups="taxGroups" on-tax-group-update="updateTaxGroups(taxGroup)"
				on-close="closeNewArticleForm()" on-save="saveNewArticle(article)"></article-form>
		</div>
		
		<div class="articles-section article-list">	
			<div ng-repeat="article in articles">
				<div class="article" ng-show="filterArticle(article) && !isArticleEdited($index)">
					<div class="title">
						<div class="article-name">{{article.name}}</div>
						<div class="article-price">$ {{article.price}}</div>
						<div class="article-actions">
							<div class="pull-right">
								<span class="icon-pencil" ng-click="startArticleEdit($index)"></span>
								<span class="icon-remove" ng-click="removeArticle(article)"></span>
							</div>
						</div>
						<div style="clear: both;"></div>
					</div>							
					<div class="details">
						<div class="restricted-details" ng-show="article.tags.length > 0">
							<span ng-repeat="articleTag in article.tags" class="restricted-tag">{{articleTag}}</span>
						</div>
					</div>					
				</div>
				<div class="edit-article" ng-if="isArticleEdited($index)">
					<article-form article="article"
						options="options" tags="tags" tax-groups="taxGroups" on-tax-group-update="updateTaxGroups(taxGroup)"
						on-close="closeArticleForm()" on-save="saveArticle(article)"></article-form>
				</div>
			</div>
		</div>
	</div>
</div>