<div class="dashboard">
	<div class="dashboard-inner">
		<div class="dashboard-items-wrapper">
			<div class="dashboard-items">
				<div class="dashboard-item shadow-border pull-left">
					<a href="/#/orders">
						<span class="dashboard-item-content">					
							<span class="icon-dollar dashbord-icon"></span><br>
							Point Of Sale
						</span>
					</a>	
				</div>
				<div class="dashboard-item shadow-border pull-right">
					<a href="/#/kitchen">
						<span class="dashboard-item-content">					
							<span class="icon-oven dashbord-icon"></span><br>
							Kitchen
						</span>	
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
