<div class="row history">
	<div class="col-md-offset-3 col-md-6">
		<history-picker date-start="dateStart" date-end="dateEnd"></history-picker>
		
		<div class="history-orders-summary shadow-border">
		Count: {{orders.length}}<br>
		Price: {{price}}<br>
		Discount: -{{discount}}<br>
		Tax: {{tax}}<br>
		Total: {{total}}<br>
		</div>
		<div class="history-orders shadow-border">
			<div class="history-order-list-item" ng-repeat="order in orders track by order.id.id">
				#{{order.id.id}}/{{order.dayId}} {{order.waiter.name}}
			</div>
		</div>
	</div>
</div>