<div class="row kitchen">
	<div class="col-md-12 kitchen-orders">
		<div class="kitchen-order shadow-border" ng-repeat="order in orders | filter:filterOrder track by order.id">
			<div class="kitchen-order-header">
				<div class="kitchen-order-submitted" am-time-ago="order.submitted"></div>
				<div class="kitchen-order-waiter">{{order.waiter.name}}</div>
				<div class="kitchen-order-note">{{order.note}}</div>
			</div>
			<div class="kitchen-order-article-list">
				<div class="kitchen-order-article" ng-repeat="article in order.articles track by article.id">
					<kitchen-article-list-item article="article" done="articleDone(order, article)"></kitchen-article-list-item>
				</div>
			</div>
		</div>
	</div>
</div>