<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<div class="tag-section header-section">
			<div class="tag-header">
				<article-filter tags="tags" selected-tags="selectedTags" search-term="searchTerm"></article-filter>
			</div>		
		</div>	
		
		<span class="add-article" ng-hide="newArticleEditing" ng-click="openNewArticleForm()"><span class="icon-plus"></span> Add article ...</span>
		<div article-form class="tag-section new-article-section" ng-if="newArticle" article="newArticle"
			options="options" tags="tags" 
			on-close="closeNewArticleForm()" on-save="saveNewArticle(article)"></div>
		
		<div class="tag-section article-list">	
			<div ng-repeat="article in articles">
				<div class="tag-article" ng-show="filterArticle(article) && !isArticleEdited($index)">
					<div class="title">
						<div class="article-name">{{article.name}}</div>
						<div class="article-price">$ {{article.price}}</div>
						<div class="article-actions">
							<div class="pull-right">
								<span class="icon-pencil" ng-click="startArticleEdit($index)"></span>
								<span class="icon-remove" ng-click="removeArticle(article)"></span>
							</div>
						</div>
						<div style="clear: both;"></div>
					</div>							
					<div class="details">
						<div class="restricted-details" ng-show="article.tags.length > 0">
							<span ng-repeat="articleTag in article.tags" class="restricted-tag">{{articleTag}}</span>
						</div>
					</div>					
				</div>
				<div ng-if="isArticleEdited($index)" class="edit-article" article-form article="article"
					options="options" tags="tags" 
					on-close="closeArticleForm()" on-save="saveArticle(article)"></div>
			</div>
		</div>
	</div>
</div>