<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<div class="menu-section header-section">
			<div class="menu-header">
				<dish-filter menus="menus" selected-menus="selectedMenus" search-term="searchTerm"></dish-filter>
			</div>		
		</div>	
		
		<span class="add-dish" ng-hide="newDishEditing" ng-click="openNewDishForm()"><span class="icon-plus"></span> Add dish ...</span>
		<div dish-form class="menu-section new-dish-section" ng-show="newDish" dish="newDish"
			ingredients="ingredients" menus="menus" 
			on-close="closeNewDishForm()" on-save="saveNewDish(dish)"></div>
		
		<div class="menu-section dish-list">	
			<div ng-repeat="dish in dishes">
				<div class="menu-dish" ng-show="filterDish(dish) && !isDishEdited($index)">
					<div class="title">
						<div class="dish-name">{{dish.name}}</div>
						<div class="dish-price">$ {{dish.price}}</div>
						<div class="dish-actions">
							<div class="pull-right">
								<span class="icon-pencil" ng-click="startDishEdit($index)"></span>
								<span class="icon-remove" ng-click="removeDish(dish)"></span>
							</div>
						</div>
						<div style="clear: both;"></div>
					</div>							
					<div class="details">
						<div class="restricted-details" ng-show="dish.menus.length > 0">
							<span ng-repeat="dishMenu in dish.menus" class="restricted-menu">{{dishMenu}}</span>
						</div>
					</div>					
				</div>
				<div ng-if="isDishEdited($index)" class="edit-dish" dish-form dish="dish" 
					on-close="closeDishForm()" on-save="saveDish(dish)"></div>
			</div>
		</div>
	</div>
</div>