<div class="row order-list">
	<div class="col-md-8">
		<div class="order shadow-border" ng-repeat="order in orders track by order.id.id">
			<div class="order-header" ng-click="editOrder(order)">
				<div class="order-waiter">{{order.waiter.name}}</div>
				<div class="order-status">{{order.status}}</div>
				<div class="order-submitted" am-time-ago="order.submitted"></div>			
			</div>
			<div class="article-list">
				<div class="order-article" ng-repeat="article in order.articles track by $index">
					<order-article-list-item article="article" show-selected="true"></order-article-list-item>
				</div>
			</div>
			<div class="order-total">
				<div class="order-to-pay">${{calculateTotal(order)}}</div>
			</div>
			<div class="order-note" ng-show="order.note">{{order.note}}</div>
		</div>
	</div>
	<div class="col-md-4">
		<order-form order="order" on-save="onOrderSave()"></order-form>
	</div>
</div>
