<div class="row order-list">
	<div class="col-md-2" ng-repeat="col in partitionedOrders">
		<div class="order shadow-border" ng-repeat="order in col">
			<div class="order-status">{{order.status}}</div>
			<div class="order-waiter">{{order.waiter.name}}</div>
			<div class="order-submitted">{{order.submitted}}</div>
			<div class="dish-list">
				<div class="order-dish" ng-repeat="dish in order.dishes">
					<list-dish dish="dish"></list-dish>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="order-form shadow-border" >
			<label class="form-label">Status:</label>
			<dropdown items="statusList" selected-item="order.status"></dropdown>
			<label class="form-label">Waiter:</label>
			<dropdown items="waiterList" selected-item="order.waiter" to-label="waiterToLabel(item)"></dropdown>
			
			<label class="form-label">Dishes</label>
			<div class="dish-selector shadow-border" ng-hide="orderFormDish">
				<div class="dish-filter">
					<dish-filter menus="menus" selected-menus="selectedMenus" search-term="searchTerm"></dish-filter>
				</div>
				<div class="selector-dish-list" ng-class="{expanded: dishListExpanded}">
					<div class="selector-dish" ng-repeat="dish in dishList" ng-click="addDish(dish)" ng-show="filterDish(dish)">
						<list-dish dish="dish"></list-dish>
					</div>
					<div class="list-expander" ng-click="toggleDishList()">
						<span ng-hide="dishListExpanded">Show all</span>
						<span ng-show="dishListExpanded">Collapse</span>
					</div>					
				</div>
			</div>
			<div class="order-dish-config shadow-border" ng-show="orderFormDish">
				<dish-config dish="orderFormDish"></dish-config>
			</div>
			
			<div class="dish-list shadow-border">
				<div class="order-dish" ng-repeat="dish in order.dishes">
					<list-dish dish="dish"></list-dish>
				</div>
			</div>
			
			<div class="form-action-buttons">
				<button class="save-button" ng-click="save(dish)">Save</button>
				<button class="cancel-button" ng-click="cancel()">Cancel</button>
			</div>			
		</div>
	</div>
</div>
