<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<form class="settings-form shadow-border">
			<div class="settings-form-entry">
				<label>Tax %:</label><input type="text" class="input-border input-numeric" ng-model="settings.tax" />	
			</div>
			<div class="settings-form-entry">
				<label>Printing:</label><dropdown items="availablePrinters" selected-item="settings.printer" to-label="printerToLabel(item)"></dropdown>
				<div class="printer-explanation" ng-show="settings.printer == 'BROWSER'">
					Hello, here is the explanation, for browser
				</div>
				<div class="printer-explanation" ng-show="settings.printer == 'JAVA APPLET'">
					Hello, here is the explanation, for java applet
				</div>							
			</div>
			<div class="settings-form-entry">
				<label>Receipt width:</label><input type="text" class="input-border input-numeric" ng-model="settings.receiptWidth" />
			</div>
			<div class="settings-form-actions">
				<button class="button button-action save-settings" ng-click="saveSettings(settings)">Save Settings</button>
			</div>		
		</form>
	</div>
</div>	
{{settings}}