<div class="row">
	<div class="col-md-offset-2 col-md-4">
		<form class="settings-form shadow-border">
			<div class="settings-form-entry">
				<label>Tax %:</label><input type="text" class="input-border input-numeric" ng-model="settings.tax" />
			</div>
			<div class="settings-form-entry">
				<label>Printing:</label>
				<dropdown items="availablePrinters" selected-item="settings.printer" to-label="printerToLabel(item)"></dropdown>
				<div class="printer-explanation" ng-show="settings.printer == 'BROWSER'">Hello, here is the explanation, for
					browser</div>
				<div class="printer-explanation" ng-show="settings.printer == 'JAVA APPLET'">Hello, here is the explanation,
					for java applet</div>
			</div>
			<div class="settings-form-entry">
				<label>Receipt width:</label><input type="text" class="input-border input-numeric" ng-model="settings.receiptWidth" />
			</div>
			<div class="settings-form-actions">
				<button class="button button-action save-settings" ng-click="saveSettings(settings)">Save Settings</button>
			</div>
		</form>
	</div>
	<div class="col-md-4">
		<form class="waiters-form shadow-border">
			<ul class="waiters-form-waiter-list">
				<li ng-repeat="waiter in waiters">
					<span class="waiter-name">{{waiter.name}}</span>
					<span class="icon-remove remove-waiter" ng-click="removeWaiter(waiter)"></span>
				</li>
			</ul>
			<input type="text" class="input-border" ng-model="waiter.name" placeholder="Add a waiter ..." />
			<button class="button button-action add-waiter" ng-click="addWaiter(waiter.name)">Add</button>
		</form>
	</div>
</div>
{{settings}}
