<div class="startpage">
	<div class="startpage-inner">
		<div class="startpage-items-wrapper">
			<div class="startpage-items">
				<div class="startpage-item shadow-border">
					<a href="/#/orders">
						<span class="startpage-item-content">					
							<span class="icon-dollar startpage-icon"></span><br>
							Point Of Sale
						</span>
					</a>	
				</div>
				<div class="startpage-item shadow-border">
					<a href="/#/kitchen">
						<span class="startpage-item-content">					
							<span class="icon-oven startpage-icon"></span><br>
							Kitchen
						</span>	
					</a>
				</div>
				<div class="startpage-item shadow-border">
					<a href="/#/dashboard">
						<span class="startpage-item-content">					
							<span class="icon-checkmark startpage-icon"></span><br>
							Dashboard
						</span>	
					</a>
				</div>				
			</div>
		</div>
	</div>
</div>
